<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>WIP Life Simulator</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body>
        <div>
            <button class="menu-item">
                <img src="../static/img/menu.svg" alt="Menu" width="200" height="200" />
            </button>
            <img src="../static/img/face.svg" alt="You" width="20%" height="20%">
        </div>
    </body>
</html>