<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <title>WIP Life Simulator</title>
        <link rel="stylesheet" href="../static/bulma.css" />
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="../static/menu.svg" alt="menu" />
                </a>
                <a role="button"></a>
            </div>
        </nav>
    </body>
</html>